<h1>Cocktails menu</h1>


<div class="cards">

<% @cocktails.reverse.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image %>)">
    <%= link_to cocktail.name, cocktail_path(cocktail), class:"text-white"  %>
  </div>
<% end %>

</div>


