<div class="navbar-lewagon">
  <%= link_to 'cocktails', cocktails_path, class:"navbar-lewagon-link" %>

  <!-- displayed on laptops -->
  <div class="navbar-lewagon-actions d-none d-sm-flex">
      <%= link_to 'new cocktail', new_cocktail_path, class:"navbar-lewagon-link" %>
    <div class="dropdown">
      <img src='http://pngimg.com/uploads/cocktail/cocktail_PNG152.png' class="avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'cocktails', cocktails_path, class:"navbar-lewagon-link" %>
          <i class="fas fa-glass-martini"></i>
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> New Cocktail</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> All cocktails</a>
        </div>
     </div>
  </div>

  <!-- displayed on phone / tablet -->
  <div class="navbar-lewagon-actions d-block d-sm-none">
    <div class="dropdown">
      <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a href="#" class="dropdown-item"><i class="fas fa-home"></i> Browse flats</a>
        <a class="dropdown-item" href="#"><i class="fas fa-user"></i> New Cocktail</a>
        <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> All cocktails</a>
         </div>
    </div>
  </div>
</div>
